In [2]:
import pandas as pd
from bucket_generator import generate_session_id
from utils import create_dataframe

In [3]:
df = create_dataframe(10000)

In [4]:
df['datetime'] = df['timestamp'].apply(lambda x: pd.Timestamp(x, unit='s'))

In [5]:
df

,customer_id,product_id,timestamp,datetime
0,feba17e4-89da-48ba-a79c-a76f01899b96,63,1.668120e+09,2022-11-10 22:37:00
1,1e0a1bd3-19d2-4b9e-b6f4-29af2731405a,848,1.668163e+09,2022-11-11 10:29:00
2,2dfa64d4-bde5-4a55-a6bb-9edff1da4865,991,1.668180e+09,2022-11-11 15:23:00
3,1f614416-d44b-4c59-8486-de3d54a4f372,309,1.668108e+09,2022-11-10 19:21:00
4,ff46533b-5446-4865-99ab-2786978e11ce,274,1.668107e+09,2022-11-10 19:01:00
...,...,...,...,...
9995,c002df6b-bc9c-4d23-8443-4e0425fc946d,169,1.668122e+09,2022-11-10 23:05:00
9996,f708df26-fed6-46a3-a508-be23feffe70b,965,1.668154e+09,2022-11-11 08:12:00
9997,8cd1abc9-4b62-4ea4-bd5a-586ec85ab48f,118,1.668134e+09,2022-11-11 02:35:00
9998,d8085367-0961-4801-b767-66a1cce8f594,371,1.668148e+09,2022-11-11 06:26:00
9999,2d9f8f52-6d32-48f3-93d1-7743309ff3ec,874,1.668190e+09,2022-11-11 18:00:00

In [6]:
df['session_id'] = df['timestamp'].apply(lambda x: generate_session_id(x))

In [14]:
df.sort_values(by='datetime', inplace=True)
df.head(10)

,customer_id,product_id,timestamp,datetime,session_id
710,2e630afc-ed0e-4995-9615-741a748d17fe,957,1.668107e+09,2022-11-10 19:00:00,2120964096
8221,79549792-a563-4701-ad16-d1711ae45887,13,1.668107e+09,2022-11-10 19:00:00,2120964096
8917,728d67ab-8f77-4868-a968-90cd84a5b558,848,1.668107e+09,2022-11-10 19:00:00,2120964096
6548,07de08c2-34a6-4d1e-a29c-3f017948dac0,177,1.668107e+09,2022-11-10 19:00:00,2120964096
3749,e2bd95f4-3304-45a3-9eba-a9f6d454cc32,587,1.668107e+09,2022-11-10 19:00:00,2120964096
5218,f37f2d98-04b7-47da-ac30-a6096bfb7255,636,1.668107e+09,2022-11-10 19:01:00,2120964096
1415,98405ba6-5ed7-47c4-a9df-ecb121e005c3,138,1.668107e+09,2022-11-10 19:01:00,2120964096
1463,0a769e46-3604-421c-9374-e8a30dd6da38,513,1.668107e+09,2022-11-10 19:01:00,2120964096
5041,827c888f-8e3b-4469-b109-73670e5eadfe,552,1.668107e+09,2022-11-10 19:01:00,2120964096
3709,52fe0f00-66e9-4e45-ba7f-72f7dd2f6544,881,1.668107e+09,2022-11-10 19:01:00,2120964096

In [8]:
import datetime
from datetime import timedelta
import random

now = datetime.datetime.now()

x = generate_session_id(now.timestamp())
y = generate_session_id((now + timedelta(minutes=2)).timestamp())
z = generate_session_id((now + timedelta(minutes=3)).timestamp())

In [9]:
for i in range(1000):
    try:    
        dt = datetime.datetime(
            random.randint(1971,3000),
            random.randint(1,12),
            random.randint(1,28),
            random.randint(0,23),
            random.randint(0,59),
        )

        generate_session_id(dt.timestamp())
    except Exception as e:
        print(e, dt)
        exit()

In [12]:
dt = datetime.datetime(1971,1,1,1,26)
generate_session_id(dt.timestamp())

2066810968

In [13]:
dt.timestamp()

31523160.0